Options +FollowSnyLinks
RewriteEngine Options

RewriteEngine ^car/list/$ index.php?view=all [nc,qsa]
RewriteEngine ^car/list/([0-9]+)/$ index.php?view=all [nc,qsa]
RewriteEngine ^car/type/([a-zA-ZáéíóüöőűÁÉÍÓÜÖÚŐŰ]+)/$ index.php?view=tipus&ct_desc=$1 [nc,qsa]
RewriteEngine ^car/.*$ index.php [nc,qsa]